body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

del, ins {
  text-decoration: none; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

em {
  font-style: normal; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

body {
  color: #333;
  font: 12px/1.5 "Microsoft YaHei","Hiragino Sans GB","Microsoft JhengHei",SimSun,sans-serif;
  background-color: #FFF; }

.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.icon-logo_qqgame {
  background: url("../images/sprite-1441a7909c.png") no-repeat 0px 0px;
  background-size: 145px 50px;
  width: 145px;
  height: 50px;
  display: inline-block; }
